<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title || 'My Adonis' }}</title>
  @if($slots.meta)
    {{{ await $slots.meta() }}}
  @endif
  @vite(['resources/js/app.js'])
</head>
<body>
  @include ('partials/nav')
  <main>
    {{{ await $slots.main() }}}
  </main>
</body>
</html>
